/vendor
/configure/data.php
/configure/databases.php
/configure/modulos.php
/phpunit.xml
/logs/
/sess_tmp/
/composer.lock
/docker-compose.yml
/docker/
/public/css/
/public/mjs/
/public/hash/
/public/upload/
/nbproject/private/