<phpunit bootstrap="modulos/base/loads/autoload.php" basedir="./">
  <testsuites>
    <testsuite name="base">
      <directory>modulos/base/test/</directory>
    </testsuite>
  </testsuites>
  <php>
    <server name='SERVER_NAME' value='local.franky'/>
    <const name='REGISTRO_SUCCESS' value='200'/>
    <const name='CONSULTAS_ERR_NOROWS' value='202'/>
  </php>
</phpunit>
