@import "../../default/less/variables"; // variables.less

main {
    .cont_widget_catalog_filter { float: left; position: relative; width: 20%; box-sizing: border-box;
        h3 { margin: 0; padding: 0; }
    }
    .cont_widget_catalog_results { float: left; position: relative; width: 80%; box-sizing: border-box;
        &._no_filters { width: 100%;
            ._card_widget_catalog_product_result { float: left; width: 21%; margin: 10px 2%;
            }
        }
        ._card_widget_catalog_product_result { float: left; position: relative; width: 30%; margin: 10px 1.15%;
            ._widget_catalog_add_wishlist { position: absolute; right: 10px; top: 10px; z-index: 2;
                &:after { float: left; width: 32px; height: 32px; background: fade(@black, 50); text-align: center; line-height: 32px; font-family: @ico_font; content: "\e81c"; font-size: 2rem; color: @white; text-decoration: none; .radius(16px); }
            }
            h2 { margin: 0; padding: 0; font-size: 1.6rem; }
            span { width: 100%; margin: 0; padding: 0; display: inline-block; }
        }
    }
}
