@import "variables"; // variables.less

/// Variables Locales
@ColorMenu : #3c4855 ;


// Guarded mixins
.set_text_color (@bg_color) when (lightness(@bg_color) >= 50%) {
  color: @black;
  background: @bg_color;
}

.set_text_color (@bg_color) when (lightness(@bg_color) < 50%) {
  color: @white;
  background: @bg_color;
}


// Formularios
html { font-size: 62.5%;
    body.admin { font-family: @font_gral; font-size: @font_size_txt; margin:0px; padding: 0; color: @gray; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; background: darken(@white, 20);
        .content { max-width: 1400px; }
    }
}
h1 { font-size: 2.4rem; }
h2 { font-size: 2rem; }
h3, h4, h5, h6 { font-size: 1.6rem; }
p { font-size: @font_size_txt; }
a { color: @theme_color;
    &:hover { color: @enfasis_color; }
}


///////////////// main ///////////////////////////////
main { float: left; width:100%;
//////////// WYSIWYG
    #mceu_50, #mceu_50-body {
        [class*="w-"] { width: auto; }
    }
    iframe#html_ifr { min-height: 500px; }

//////// Breadcrumb
    .breadcrumb { border-bottom: 1px solid @soft_gray; padding: 10px 0 20px 0;
        li {
            a { color: @gray; }
            &.nivel_2 { color: lighten(@gray, 20);
                a { color: lighten(@gray, 20); }
             }
            &.nivel_3 { color: lighten(@gray, 40);
                &:after { content: ""; }
                a { color: lighten(@gray, 40); }
             }
        }
    }

/////// General
    .content_form { max-width: 1200px; margin: 0; padding: 0;}
    ._panel_card { float: left; position: relative; width: 92%; margin: 10px 4%; padding: 10px; box-sizing: border-box; background: @white;  .box-shadow(0 5px 15px rgba(0,0,0,0.1)); .radius(8px);
        @media @small { width: 96%; margin: 10px 2%; }
    }
    .change_float_left { float: left;
        @media @small { float: right; }
    }
    .change_float_right { float: right;
        @media @small { float: left; }
    }

    .cont_reset_pass { max-width: 320px; margin: 0 auto; }
    ul { .ul-reset;
        &._ul_general { list-style: disc; padding: 20px 0 0 30px;
            li { margin: 4px 0; }
        }
        &.breadcrumb {
            li { display: inline-block; font-size: 1.3rem; color: lighten(@black, 20);
                &:after { content: " / "; }
                a { display: inline-block;
                }
            }
        }
        &.modulo_base {
            li { .ul-reset;
                a {  }
            }
        }
        &._ul_default { list-style: disc; margin: 0 0 20px 20px;
                li { margin: 4px 0; }
            }
    }

    .btn {
        &.green { background: #468049 !important; margin-right: 20px !important; }
    }
    .no_hay_datos { font-weight: 600; }

////// Menu
    ._left_menu { float: left; position: relative; width: 20%; min-height: 100vh; left: 0; top: 0; padding: 0; background: @white; z-index: 11; border-right: 1px solid lighten(@black, 90); box-sizing: border-box; .box-shadow(0 2px 20px 0 rgba(0,0,0,.1));
        ._admin_logo { display: block; margin: 10px 0 0px 10px; max-width: 240px; height: auto;
            img { max-width: 100%; height: auto; }
         }
         ._my_account { display: block; position: absolute; right: 10px; top: 10px; text-decoration: none;
            &:before {  font-family: @ico_font; content: '\e838'; }
         }

        @media @large { width: 25%; }
        @media @medium { width: 25%; }
        @media @small { width: 100%; position: relative; }
        h2 { padding: 10px; margin: 0; box-sizing: border-box; }
        ul { .ul-reset;
            li { .ul-reset; position: relative;
                ._counter { position: absolute; right: 10px; top: 5px; padding: 5px 10px; background: @error; color: @white; .radius(30px); font-weight: 600; }
                a { position: relative; display: block; width: 100%; margin: 2px 0; padding: 10px; color: @gray; border-bottom:1px solid lighten(@black, 90); box-sizing: border-box; text-decoration: none;
                    &._logout { border-bottom: 0;
                        &:before { margin-right: 4px; font-family: @ico_font; content: "\e905"; }
                    }
                    &:hover { background:lighten(@ColorMenu, 20); color: @enfasis_color; }
                    &.active { background:lighten(@ColorMenu, 20); color: @white; font-weight: 600; }
                }
                b { margin-left: 10px; }
            }
        }
    }

////// Content
    .cont_admin { background: @white; padding-bottom: 30px;
        .cont_gral_admin {
            a { text-decoration: none; color: @enfasis_color; }
        }
        //////// Grid

            .contenedor_titulo_columnas { padding: 10px ; min-height: 35px; margin-bottom: 20px; box-sizing: border-box; background: @soft_gray; font-weight: 600; .radius;
                a { color: @gray; text-decoration: none;
                    &:after { font-family: @ico_font; content: "\e83d";
                    }
                }
                .ASC {
                    a {
                        &:after { content: "\e832"; }
                    }
                }


            }
            .contenedor_columnas { float: left; width: 100%; border-bottom: 1px solid @soft_gray; padding: 5px 0; box-sizing: border-box;
                &:hover { background: @soft_gray; }
            }
    }
    ._panel_content { float: left; width: 80%;background-color: @white; min-height: 100vh; padding: 10px 30px; box-sizing: border-box;
        @media @large { width: 75%; }
        @media @medium { width: 75%; }
        @media @small { padding: 10px; width: 100%; }
    }
    ._wrapp_form_serch { float: left; max-width: 1000px; margin-bottom: 20px; box-sizing: border-box; padding: 10px ; border:1px solid @soft_gray; .radius;
        .form-group { width: auto; }
        .form_busca_b { float: left; width: auto;
            label { width: 300px; box-sizing: border-box; height: 40px; margin: 0; padding: 0px;
                input { height: 40px; margin: 0; padding: 10px; box-sizing: border-box; }
            }
        }
        .form_buscar { float: left; width: auto;
            label { width: auto; box-sizing: border-box; height: 40px; margin: 0; padding: 0px;
                input { height: 40px; margin: 0; padding: 10px; font-size: 1.3rem; line-height: 1; .radius; background:@enfasis_color; color: @white; }
            }
        }
        .form_rango_inicial, .form_rango_final {
            label { padding: 0; margin: 0 5px;
                input { height: 40px; max-width: 80px; line-height: 40px; padding: 10px; text-align: center; box-sizing: border-box; }
            }
        }
        ._btn_new { float: left; height: 40px; margin: 0; padding: 10px; margin-left: 20px; box-sizing: border-box; background: @success; color: @white; text-decoration: none; .radius; }
        form {
            label { padding: 0 10px; margin: 0; }
        }
        .hasDatepicker { max-width: 120px; }
        select {
             font-size: 1.3rem;
            &[name="nivel_b"] { padding: 5px; margin-top: 5px}
        }
    }

///// Dashboard
    .label_grabatar { width: auto; cursor: pointer;
        ._check_avatar { margin: 20px 4px 0 0; }
        ._avatar_title { margin: 10px 0 0 4px; }
    }

    ._img_perfil { position: relative; width: 100px;
        .avatar_mask { float: left; overflow: hidden; width: 90px; height: 90px; .radius(50%);
            img { max-width: 90px; height: auto; }
        }
        a { position: absolute; text-align: center; left: 100%; width: 170px; top: 30px; }
    }
    ._left_menu {
        ul { float: left; width: 100%; box-sizing: border-box; margin: 10px 0; padding: 0px;
            &._img_perfil { float: left; text-align: center; width: 100%; box-sizing: border-box; margin: 4px 0;
                .avatar_mask { float: none; display: inline-block; width: 90px; height: 90px; }
                img { max-width: 90px; height: auto; }
                a { position: relative; width: 100%; display: inline-block; left: auto; top: auto; margin-bottom: 8px; font-size: 1.3rem; text-decoration: none;
                    &:after { font-family: @ico_font; content: "\e825"; margin-left: 4px; }
                    &:hover { background: transparent; color: @enfasis_color; }
                }
            }
        }
    }
    ._ul_avatar { float: left;
        ._thinks_avatar {
            input, span { float: left; }
        }
    }
    [title="facebook-connect"] { background: @fColor; color: @white; }

/////// Form
    form {
        label { position: relative; }
        label, input, textarea select { float: left; }
        &#paginar { float: left; width: auto; }
        label { box-sizing: border-box; padding: 5px 10px; }
        img { max-width: 100%; height: auto; }
    }
    .form_guardar { text-align: center; }

//// Contact US

    .email { text-align: center;
        a { font-size: 2.4rem; line-height: 2.4rem;
            &:after { display: block; content: " Responder"; font-size: 1rem; line-height:1rem }
        }
    }
    ._open_comment {
        &.active {
            a {
                &:after { content: "\e82f"; }
            }
        }
        a {
            &:after { font-family: @ico_font; content: "\e82e"; }
        }
        div { padding: 0 20px 10px 20px; box-sizing: border-box; color: @black; }
    }
    ._table_delete { text-align: center; }

//// Botones

    a, input, label, button {
        &._btn { float: none; display: inline-block; .aparience-reset; color: @gray; font-size: 1.6rem; font-weight: 600; text-decoration: none; padding: 5px 10px; margin: 0 5px; line-height: 32px; .radius; .box-shadow( 2px 2px 0 rgba(0,0,0,.1));
            &:hover { background: @black; color: @white; }

            &._primary { background-color: @enfasis_color; color: @white; padding-left: 20px; padding-right: 20px;
                &:hover { background: @black; color: @white; }
            }
            &._secondary { background: darken(@white, 5); color: @enfasis_color;
                &:hover { background: darken(@white, 10); color: @enfasis_color; }
            }
        }
    }
    input._btn:hover { cursor: pointer; }

    .input_home_searcher { position: relative;
        #ubicacion { padding-left: 30px; }
        .gps_address { position: absolute; left: 15px; bottom: 13px; width: 24px; height: auto; }
    }
    /////// Orders
    .cont_header_panel {
        &._orders {
            &._calendar {
                div { float: left; width: auto; }
            }
            input[type="submit"] { padding-top: 0; padding-bottom: 0; background-color: @enfasis_color; }
        }
    }
    ._ul_txt_standar { .ul-reset; font-size: @font_size_txt; margin: 10px 0;
        li { .ul-reset; margin: 4px 0;
            &._total { font-size: 1.6rem; font-weight: 600; }
        }
    }
    ._ul_resume_art { .ul-reset;
        li { position: relative; float: left; width: 33.3%; .ul-reset; padding: 10px; box-sizing: border-box;
            @media @small { width: 50%; }
            img { max-width: 100%; height: auto; }
            span {
                &._count { position: absolute; display: block; left: 0; top: 0; text-align: center; width: 32px; height: 32px; line-height: 32px; font-size: @font_size_txt; background: @enfasis_color; color: @white; padding: 4px; .radius(30px) }
            }
        }
    }
    ._map {
        img { max-width: 100%; height: auto; }
    }

    /////////// Orden Listas
    .ui-sortable-handle { float: left; width: 100%; cursor: move; }
    .ui-sortable-placeholder.ui-state-highlight { border-bottom: 3px solid @soft_gray; }
}

////////// Notifications
._tip {
    background: @bkgTip; color: @black;
}
////////// UI Tools
    body.admin {
        .ui-widget-header { border-color: @gray; background-color: @gray; background-image: none; }
    }
    .mce-container-body { background-color: @soft_gray; }
    .mce-container [class*="w-"] { float: none; width: auto; }

/////////// Páginar

.cont_paginar { text-align: center; max-width: 300px; margin: 0 auto; font-size: 1.3rem;
     a, span { display: inline-block; margin: 0 2px; }
     .resumen_paginacion { font-weight: bold; }
     div {
          &.cont_numereacion, &.form_tampag { display: block; margin-top: 10px; }
      }
      select { font-size: 1.3rem; }
 }
