@import "variables"; // variables.less

/* ********* Estilos Generales ********* */
html { font-size: 62.5%; }
body { font-family: @font_gral; font-size:@font_size_txt; background:@white; margin:0px; padding: 0; color: @black; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; }
body.active_nav { overflow-y: hidden; }
* { outline: none; }
:focus { outline: none; }
img{ border:none; }
h1 { font-size: @font_size_txt*2; text-align:left; color: @black; margin: 10px 0; }
h2 { font-size:@font_size_txt*1.5; text-align:left; color: lighten(@black, 20); margin: 10px 0; }
h3, h4, h5, h6 { font-size:@font_size_txt; color: lighten(@black, 20); text-align:left; margin: 10px 0; }
p { font-size:@font_size_txt; text-align:left; margin: 5px 0; }
a { color: #336699; text-decoration: underline;
    &:hover { color: #000000; text-decoration: underline; }
}
.clear { clear: both; }


ul.gral { list-style: none; margin: 8px 0 8px 20px; padding: 0; }
ul.gral li {  margin: 2px 0; padding: 0 0 0 10px; }
ul.gral li p { padding: 0; margin: 0; text-indent: 0; }
ol.gral { list-style: decimal; margin: 8px 0 8px 40px; padding: 0; }
ol.gral li {  margin: 2px 0; padding: 0; }
ol.gral li p { padding: 0; margin: 0; text-indent: 0; }

#up { position: fixed; bottom: 30px; right: 5px; z-index: 99; }
#up span { width: 60px; height: 60px; display: block;background: url(/skin/default/images/up_arrow.png) no-repeat center center; }

.margin_top { margin-top:10px !important; }
.margin_bottom { margin-bottom:10px !important; }
.margin_top_bottom { margin-bottom:10px !important; margin-top: 10px !important; }
.margin_left_right { margin-left:10px !important; margin-right: 10px !important; }
.margin_left { margin-left:10px !important; }
.margin_right { margin-right: 10px !important; }

object { pointer-events: none; }

// Alertas

.alert-variation(@names; @notificationColors; @index) when (iscolor(extract(@notificationColors, @index))) and (@index > 0) {
    .alert-variation(@names; @notificationColors; (@index - 1)); // decrement.

  @name  : extract(@names, @index);
  @color : extract(@notificationColors, @index);

  .alert-@{name} {
    border-color: darken(@color, 10%);
    color: darken(@color, 30%);
    background-color: @color;
  }

}
// Gracias
.cont_error_pages { margin-top: 100px; text-align: center;
     &.error {
               i { color: @error; }
          }
     &.gracias {
          i { color: @success; }
     }
     i { font-size: 5em; }
     p, h1 { text-align: center; }
}

/*********** Panel *************/


/*********** Paginación *************/
.cont_paginar { text-align: center; max-width: 300px; margin: 0 auto; font-size: 1.3em;
     a, span { display: inline-block; margin: 0 2px; }
     a { font-size: 1em; }
     .resumen_paginacion { font-weight: bold; }
     div {
          &.cont_numereacion, &.form_tampag { display: block; margin-top: 10px; }
      }
 }

 header { position: fixed; background-color: @theme_color; width: 100%; height: 70px; top: 0; left: 0; box-sizing: border-box; z-index: 11;
             @media @small { position: fixed; height: 50px;  background-color: fade(@black,90); }
              .cont_nav_movil { position: absolute; display: none; top: 10px; left: 110px; z-index: 999;
                 @media @small { display: block; }
                 .hamburguer { position: relative;  margin-top: 10px; display: block; width: 36px; height: 36px; cursor: pointer; margin: 0; padding: 0;
                     li { position: absolute; left: 0; display: block; width: 36px; height: 3px; background: @white; margin: 5px 0; padding: 0; opacity: 1;  .transition(all, 0.5s, ease-in-out); .radius(3px);
                         &._one   { top: 0; }
                         &._two   { top: 10px; }
                         &._three { top: 20px; }
                     }
                     &.active {
                         li {
                             &._one   { top: 10px; .rotate(45deg); }
                             &._two   { top: 10px; .rotate(-45deg); }
                             &._three { opacity: 0; }
                         }
                     }
                 }
             }
             .content { height: 70px; }
              @width_logo: 60;
             ._brand { position: absolute; height:unit(@width_logo, px); max-width: unit(@width_logo, px); top: 5px; left: 10px; z-index: 11;
                 @media @small { max-width: 90px; top: 8px; left: 10px; z-index: 10; }
                 img { max-width: 100%; height: auto; }
             }
 ////////////////// Buscador header
             .cont_search_bar { position: absolute; right: 10px; width: 220px; top:50%; .transform-translate(0,-50%); z-index: 11;
                @media @medium { top: 50px; .transform-translate(0,0); background-color: @black; padding: 5px; .radius; box-sizing: border-box; }
                 @media @small { display: none; top: 50px; left: 0; width: 100%; padding: 10px; background-color: @black; box-sizing: border-box; .transform-translate(0,0);
                    &.active { display: block; }
                 }
                 i { font-size: 2rem; }
                 input { width: 100%; height: 35px; line-height: 30px; box-sizing: border-box; }
                 button.btn_search_bar { position: absolute; margin: 0; padding-right: 10px; height: 30px; right: 0px; top: 0; margin: 0; line-height: 30px; border: 0; .box-shadow(none); background-color: transparent; color: lighten(@black, 50); .aparience-reset; z-index: 2;
                     @media @medium { right: 10px; top:5px; .transform-translate(0,0);
                        i { font-size: 1.6rem; }
                     }
                     @media @small { right: 10px; top:50%; .transform-translate(0,-50%); }
                    &:hover { background: transparent !important; color: @enfasis_color; }
                 }
             }
             .menu_web { position: absolute; width: 100%; right: 240px; top:50%; .transform-translate(0,-50%);  width: calc(~"100%" - unit(@width_logo + 50, px));
                 @media @medium { right: 10px; }
                ._share {
                    ._ul_redes { .ul-reset;
                        @media @small { text-align: left; margin-left: 20px; }
                       li { display: inline-block; .ul-reset; margin: 0; padding: 10px 0;
                           @media @small { width: auto; }
                           a { display: inline-block; margin: 0; font-size: 2.4rem;  padding: 0 2px;
                               &:before { font-family: @ico_font_ext; content: "\e92b"; }
                               &._face { &:before { content: "\e9072"; } }
                               &._instagram { &:before { content: "\e9162"; } }
                               &._twitter { &:before { content: "\e9082"; } }
                           }
                       }
                    }
                }
                 &.active { display: block;
                    ul { display: block; }
                 }
                 @media @small { position: fixed; top: 0; right: 0; width: 100%; .transform-translate(0,0%); }
                 ul { float: left; position: relative; .ul-reset; width: 100%; text-align: right;
                     @media @medium { text-align: center; }
                     @media @small { display: none; height: 100vh; padding-top: 10vh; background-color: @black; }
                     li { position: relative; display: inline-block; .ul-reset; font-size: 1.4rem; color: @white;
                         ul { height: auto; padding: 0; }
                         @media @small { width: 100%; box-sizing: border-box;  text-align: left; }
                         a { display: inline-block; margin: 0; padding: 0 10px; height: 30px; line-height: 30px; font-weight: 400; color: @white; font-size: 1.4rem; text-decoration: none;
                             @media @medium { margin-left: 0; margin-right: 0; font-size: 1.2rem; }
                             &:hover { color: @enfasis_color; }
                         }
                             &._menu {
                                 @media @small {
                                     padding-top: 30px;
                                 }
                                 li { padding: 10px 0;
                                     &._btn_contactanos {
                                         @media @small { position: fixed; bottom: 100px; left: 10px; }
                                         a { margin-left: 50px; background-color: fade(@enfasis_color,10); border: solid 1px @enfasis_color; .radius(10px);
                                             @media @small { margin-left: 0px; background-color: fade(@enfasis_color,10); border: solid 1px @enfasis_color; .radius(10px); }
                                         }
                                     }
                                     &._submmenu {
                                         ul { display: none;
                                             li {
                                                 a {
                                                     &:after { content: ""; }
                                                 }
                                             }
                                         }
                                         &:hover {
                                             ul { position: absolute; width: auto; left: 30px; top: 50px; .ul-reset; display: block; background-color: fade(@black,90); padding: 10px; box-sizing: border-box; .radius; .box-shadow(0px 3px 5px 5px rgba(0, 0, 0, 0.1));
                                                 @media @small { position: relative; width: 100%; top: auto; left: auto; background-color: transparent; }
                                                 &:after { position: absolute; top:-14px; left: 30px; color: fade(@black,90); font-size: 2rem; font-family: @ico_font; content: "\e83a";
                                                     @media @small { content: ""; }
                                                 }
                                                 li { .ul-reset; display: block; text-align: left;
                                                     a { width: 100%; display: block; white-space: nowrap; color: @white;
                                                         &:hover {  color: @enfasis_color; }
                                                     }
                                                 }
                                             }
                                         }
                                         a {
                                             &:after { position: absolute; right: 0px; top: 11px; font-family: @ico_font; content: "\e82e"; margin-left: 4px;
                                                 @media @small { right: 20px; top: 1px;  }
                                             }
                                             &:hover { color: @white; }
                                         }
                                     }
                                  }
                             }

                         }
                     }
                     &.despliegue { margin-top: 10px;
                         @media @small { display: block;
                            ul { display: block; }
                         }
                     }
                     &.active { display: block;
                        @media @small {
                            ul { display: block; }
                        }
                     }
                 }



                 // ------------------------ END HEADER All styles before this line -------------------------------
 }



/*  Contenido  */
main { margin-top: 70px;
     .page_wrapper {  }
     // Home
     h2.margin_home { margin-top: 36px; margin-bottom: 36px; font-size: 3em; }
     p.margin_home, h2.margin_home { margin-left: 170px; margin-right: 170px; text-align: center; }
     .cont_banner_programas {
          .w-xxxx-6 { text-align: center; }
          a.btn { position: absolute; right: 20px; bottom: 20px; z-index: 1; color: @white; font-size: 1.6em; .box-shadow;
               &.btn_theme_color { background: @theme_color; }
               &.btn_enfasis_color { background: @enfasis_color; }
               &:hover { background: @gray; }
          }
     }

/////////////// Ajax Paginar
    .cont_paginar_ajax { padding: 30px 0; text-align: center;
        a { display: inline-block; padding: 20px; text-transform: uppercase; background-color: @enfasis_color; color: @white; text-decoration: none; .radius; .box-shadow;
            &:hover { color: @black; background-color: @theme_color; }
        }
    }
}

/*   Footer  */
footer { font-size: .9em;
     .footer_wrapper { background: darken(@theme_color, 30); margin-top: 32px; padding-top: 16px; color: @white;
          .footer_2 { background: darken(@theme_color, 20); padding: 16px 0; }
     }
     a { color: @white; text-decoration: none;
          &:hover { color: @enfasis_color; text-decoration: none; }
     }
     .logo_cloud { display: block; text-align: right; margin-top: 10px;
          img, object { max-width: 120px; height: auto; margin: 5px 0; }
     }
     p, h3 { color: @white; }
     h3 { font-size: 2em; margin: 10px 0 5px 0; }
     ul { margin: 0 0 20px 0; padding: 0 0 0 10px; list-style: disc; color: @white;
          &.no_bullet { list-style: none; }
          li { margin-bottom: 5px;
               p { margin: 0; padding: 0; text-align: left; }
               strong { display: block; }
               a {
               }
          }
     }
     .cont_certificados a { display: inline-block; margin: 0 5px -3px 5px; opacity: .8;
         &:hover { opacity: 1; }
     }

     // ------------------------ END MAIN All styles before this line -------------------------------
}


/*  Debug  */
#debug { position:fixed; left:0px; bottom:0px; width:100%; background:#999; z-index: 9999; }
#content-detalle-debug { height: 300px; overflow: auto; display:none; width:100%; background:#fff; }
#debug .pestanas .pestana { float:left; width: 200px; font-size: 15px; height:30px; }
#debug .pestanas .pestana-hide { float:right; width: 30px; font-size: 15px; height:30px; }
#content-detalle-debug div{ display:none;  }
